PORT=3000
NODE_ENV=development

# Deixe true para usar uma api key do gemini ou false para usar api key da open router
USE_GEMINI=true 

GEMINI_API_KEY=chave do gemini
GEMINI_MODEL=modelo do gemini

OPENROUTER_API_KEY=chave openrouter
OPENROUTER_MODEL=modelo open router

APP_NAME=Motiva-AI
APP_URL=http://localhost:3000
